.person {
    min-width: 0;
    width: 100%;
    max-width: 300px;
    margin: 4px;
    border: 1px dashed #333;
    cursor: move;
}
pre {
    margin: 0;
    color: #1111a7;
    background: rgba(30, 30, 255, 0.1);
}
.person--placeholder pre {
    opacity: 0.4;
    background: #eee;
}

