@import "css-lock";

p {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    @include css-lock(-1, -2, 0, 1000/14, margin-left, rem);
    @include css-lock(-1, -2, 0, 1000/14, margin-right, rem);
}
.box {
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    color: white;
    @include css-lock(1, 2, 0, 1000/14, padding, rem);
    @include css-lock(0.5, 1, 0, 1000/14, padding-top, rem);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}