:host {
    // we want the kanban-lists's spacing to work
    display: block;
}

* {
    box-sizing: border-box;
}

.card {
    padding: 8px;
    border-radius: 4px;
    position: relative;
    // prevent touch selection from interfering with drags
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    // undo with .card--placeholder
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.16);
}

.card p {
    margin: 0;
}

.card--preview {
    transform: rotate(-2deg);
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.card--placeholder {
    background: none;
    box-shadow: none;
}

.card--placeholder * {
    visibility: hidden;
}

.card--placeholder::before {
    content: "";
    border-radius: 4px;
    background: rgba(0,0,0,0.13);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.13), inset 0 1px 3px rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
}

