:host, .wrapper {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
}

.wrapper ::ng-deep router-outlet + * {
    flex: 1;
    flex-grow: 1;
    padding: 16px;
}

p.menu {
    display: block;
}

ul {
    padding: 0;
}

.outer {
    min-width: 0;
}

.outer * {
    list-style: none;
}

.outer li {
    margin-bottom: 6px;
}

.nav-grid {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    & > section:not(:last-child) {
        margin-right: 40px;
    }
}

@supports (grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))) {
    .nav-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        justify-content: initial;
    }
    .nav-grid > section:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1000px) {
    p.menu {
        display: none;
    }
    .wrapper {
        flex-direction: row;
    }
    .wrapper > *:not(:last-child) {
        // margin-right: 8px;
    }
    .nav-grid { display: block; }
}

nav li {
    // display: block;
    min-width: 170px;
    max-width: 240px;
}

header {
    padding: 8px;
    background: #f0f0f0;
    background:  hsla(248, 31%, 91%, 1);
    background: #e5e8f5;
}

.outer {
    padding: 8px;
    background: #fcfcfc;
    background:  hsla(249, 20%, 98%, 1);
    background:  #fbfbfd;
}

p.back {
    margin-top: 8px;
    a {
        display: inline-block;
        padding: 8px;
        background: #353673;
        text-decoration: none;
        color: white;
    }
}

.nav-grid {
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: black;
        background: #dfdfdf;
        background:  #e2e4ee;
        padding: 0 6px;
        border-bottom: 1px solid #ccc;
    }

    a:hover {
        background: lightblue;
    }

    // router link is active
    a.active {
        background: #fddd96;
        background: #eeaac6;
    }

    .note {
        display: inline-block;
        background: #ffe09d;
        padding: 2px 6px;
        font-size: 80%;
        line-height: 1.3;
    }
}

h2 {
    margin-top: 0 !important;
}

@media screen and (max-width: 999px) {
    .hide {
        display: none;
    }
}
