:host {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    box-sizing: content-box;
    overflow: hidden;
    background: #153242;
    border-radius: 25px;
    border: 12px solid black;
}

.square {
    position: relative;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

$accent: #33e8d5;

.gridline {
    position: absolute;
    border-width: 0;
    border-style: solid;
    border-color: darken($accent, 20);
}

.gridline.horizontal {
    border-top-width: 1px;
    left: 0;
    width: 100%;
}

.gridline.vertical {
    border-left-width: 1px;
    top: 0;
    height: 100%;
}

.scanline {
}

.scanline:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 5px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 250, 250, 1) 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
    opacity: .1;
    animation: vline 3.25s linear infinite;
}

.scanline:after {
    box-shadow: 0 2px 6px rgba(25, 25, 25, 0.2), inset 0 1px rgba(50, 50, 50, 0.1), inset 0 3px rgba(50, 50, 50, 0.05), inset 0 3px 8px rgba(64, 64, 64, 0.05), inset 0 -5px 10px rgba(25, 25, 25, 0.1);
}

@keyframes vline {
    0% {
        top: -30%;
    }
    100% {
        top: 100%;
    }
}

.glow {
    pointer-events: none;
    // z-index: 1000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, .1);
    background: radial-gradient(ellipse at center, darken($accent, 30%) 0%, rgba(64, 64, 64, 0) 90%);
    transform-origin: 50% 50%;
    transform: perspective(20px) rotateX(.5deg) skewX(2deg) scale(1.03);
    animation: glitch 1s linear infinite;
    opacity: .9;
}

.glow:after {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0) 100%);
    opacity: .1;
}

@keyframes glitch {
    0% {
        transform: scale(1, 1.002);
    }
    50% {
        transform: scale(1, 1.0001);
    }
    100% {
        transform: scale(1.001, 1);
    }
}
