<div>

  <!-- <app&#45;custom&#45;drag&#45;layer></app&#45;custom&#45;drag&#45;layer> -->
  <!-- <app&#45;drag&#45;container></app&#45;drag&#45;container> -->
  <div class="bins">
    <app-trash type="PAPER"></app-trash>
    <app-trash type="ENVELOPE"></app-trash>
    <app-trash type="PARCEL"></app-trash>
    <!-- <app&#45;trash kind="FRUIT"></app&#45;trash> -->
  </div>
  <div class="bins">
    <app-bin name="recycle" [accepts]="['PAPER', 'ENVELOPE']"></app-bin>
    <app-bin name="mailbox" [accepts]="['PARCEL', 'ENVELOPE']"></app-bin>
  </div>

  <!-- <app&#45;sorted></app&#45;sorted> -->
  <!-- <p> two doesn't work yet </p> -->
  <!-- <app&#45;sorted></app&#45;sorted> -->
</div>

