<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@angular-skyhook/multi-backend documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">@angular-skyhook/multi-backend documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>SkyhookPreviewRendererComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/preview-renderer.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>This is internal, you probably won&#39;t ever need to use it directly.</p>
<p>For understanding&#39;s sake, it helps to know that this component
essentially just renders whatever is placed between its tags, but
in a <code>position: fixed</code> container that is translated according to
the drag in progress and how far it has travelled.</p>
<p>It currently has a workaround for some Firefox versions where the
whole thing wouldn&#39;t re-render unless you animated the border.</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>

            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>ChangeDetectionStrategy.OnPush</code></td>
            </tr>










            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>skyhook-preview-renderer</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
            :host {
                display: block;
                position: fixed;
                pointer-events: none;
                z-index: 100;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            @keyframes animatedBorder {
                from {
                    border-color: rgba(0, 0, 0, 0);
                }
                to {
                    border-color: rgba(0, 0, 0, 1);
                }
            }
            .firefox-bug {
                animation-name: animatedBorder;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;firefox-bug&quot; [ngStyle]&#x3D;&quot;style$|async&quot;&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>









</div>




    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
            :host {
                display: block;
                position: fixed;
                pointer-events: none;
                z-index: 100;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            @keyframes animatedBorder {
                from {
                    border-color: rgba(0, 0, 0, 0);
                }
                to {
                    border-color: rgba(0, 0, 0, 1);
                }
            }
            .firefox-bug {
                animation-name: animatedBorder;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        
</code></pre>
    </div>


    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="firefox-bug" [ngStyle]="style$|async">    <ng-content></ng-content></div></div>'
    var COMPONENTS = [{'name': 'SkyhookPreviewComponent', 'selector': 'skyhook-preview'},{'name': 'SkyhookPreviewRendererComponent', 'selector': 'skyhook-preview-renderer'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'SkyhookPreviewRendererComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'SkyhookPreviewRendererComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
