/* You can add global styles to this file, and also import other style files */

body {
  font-family: -apple-system, system, sans-serif;
}

.pad {
  max-width: 300px;
  padding: 20px;
}

.dustbin {
  border: 2px dashed black;
}
