@import "../includes";

.kanban-root {
    background: $board-bg;
    flex: 1; // within parent
    display: flex; // for showing lists horizontally
    min-height: 500px;
    overflow-x: scroll;
    padding: 8px;
    justify-content: flex-start;
}

.kanban-root>* {
    margin-right: 8px;
}

.trash-zone {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

