* {
    box-sizing: border-box;
}

.cards-container {
    min-height: 20px;
}
.cards-container>* {
    margin-bottom: 6px;
}

.list {
    // margin-right: 8px;
    // background: #3f81a9;
    width: 240px; // margin-right: 8px;
    padding: 8px;
    background: #72b3da;
    background: #eee;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
}

.list--drag-preview {
    transform: rotate(-2deg);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.list h3 {
    margin: 0;
    margin-bottom: 8px;
}

.card-placeholder {
    // background: #3f81a9;
    background: #ccc;
    border-radius: 4px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.13), inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
